@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: #967aa1;
  width: 10em;
  height: 3em;
  border: none;
  color: white;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
